.css-triforce,
.css-triforce:before,
.css-triforce:after
  border: .5em solid
  border-left: .4em solid transparent
  border-right: .4em solid transparent
  border-top: transparent
  display: inline-block
  height: 0
  width: 0

.css-triforce
  position: relative

.css-triforce:before,
.css-triforce:after
  content: ""
  position: absolute

.css-triforce:before
  top: -.5em
  left: 0

.css-triforce:after
  top: 0
  left: .4em
