!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(href="styles.css" rel="stylesheet")
    %link(href="css-triforce.css" rel="stylesheet")
    %title css-triforce

  %body
    %h1
      CSS Triforce
      %br
      %span.css-triforce
    %p
      Take this
      %span.css-triforce
      and travel safely.

    %footer
      %a(href="https://github.com/rmasoni/css-triforce") Grab the code on GitHub
