!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(href="css-triforce.css" rel="stylesheet")
    %title css-triforce

  %body
    %p
      Take this:
      %span.css-triforce
      and travel safely.
